body {
    background-color: bisque;
    margin: 20px;
    font: OCR A Std, monospace;
}

h1{
    color: black;
    text-align: center;
}

h2{
    text-align: center;
}

img{
    width: 400px;
    height: 300px;
    border: solid 2px black;
    padding: 20px;
    margin: 20px;
}